<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>
  <div class="container articles">
    <aside class="top-articles">
      <h4>Top Articles</h4>        
      <ol type="1">
        <li>Yo check out this new movie y'all!</li>
        <li>If this ain't the dopest stuff, I don't know what is.</li>
        <li>I cried all night and my tear ducts are sore.</li>
      </ol>        
    </aside>
    <section class="review-collection article-collection">
      <span>Recent Articles</span>
      <ul class="review-list article-list">
        <li class="review article">I'm looking for movies that are action-packed. Drop some suggestions below. <span>- By <i>anon</i></span></li>
        <li class="review article">Movies are meant to speak to us from within.</li>
        <li class="review article">I'm tired of watching the same benign stuff. Now I want something real.</li>
        <li class="review article">Anyone checked out this new movie called "The Whale"?</li>
        <li class="review article">Marvel movies are overrated. Change my mind!</li>
        <li class="review article">"Turu Lop", a profoundly romantic movie aboue a stranger who falls in love with another stranger.</li>
        <li class="review article">What am I doing with my life? It feels like I'm an audience of my own life when I should be the director. Anyone else feel this way?</li>
      </ul>
    </section>
  </div>  
</body>
</html>