<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie Night</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
   
  <div class="login-modal hide-content">
    <!-- <h1 class="site-name"><a href="/">Movie<span>Night</span></a></h1> -->
    <span class="close-login">&times;</span>
    <div class="modal-form form-container">
      <h2>LOG IN</h2>
      <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="error-msg"><%= el.msg %></div>
        <% }) %>    
      <% } %>
      <form action="/login" method="post" class="input-form">
        <input class="input-field email" type="email" name="email" placeholder="Email">
        <input class="input-field password" type="password" name="password" placeholder="Password">
        <button type="submit" class="submit-btn">Log In</button>
        <span>Don't have an account yet? <a href="/signup" class="signup-link">Sign up</a></span>
      </form>
    </div>
  </div>

  <div class="container">
    <h1 class="site-name"><a href="/">Movie<span>Night</span></a></h1>
    <nav>
      <div class="nav-menu">
        <%if (!locals.session || locals.session.isAuth != true){ %>
          <span><a href="/signup">Sign Up</a></span>
          <span><a href="/login">Login</a></span>
        <% } else { %>
          <span id="current-user"><%= locals.user.username %></span>
          <span><a href="/logout">Log Out</a></span>
        <% } %>  
        <span><a href="/watchlist" target="_blank">Watch List</a></span>
        <span><a href="/mycollection" target="_blank">My Collection</a></span>
      </div>    
      <div class="hamburger">
        <span class="bar"></span>
      </div>
    </nav>


    <div class="search-section">
        <p>What did you watch today?</p>
        <input type="text" name="movie" class="movie-search-field" placeholder="Enter the movie name...">
        <button type="button" class="search-btn">Search</button>

        <div class="result-list">
        </div>
    </div>  

    <div class="movie-info">
      <i class="fas fa-bookmark hide-content"></i>
      <div class="movie-poster"><img src="/images/netflix-poster.jpg" alt="" class="poster"></div>  <!-- we are already using /public as static file in Express so no need to write it --> 
      <h2 class="title"></h2>
      <h5 class="genre"></h5>
      <h5 class="actors"></h5>
      <p class="plot hide-content"></p>
    </div>

    <div class="review-section">
      <form action="/addReview" method="POST" class="review-form">
        <span class="movie-id"></span>
        <div class="slider">
          <p>Rate your experience.</p>
          <input type="range" id="score" name="score" min="0" max="10" step="0.1" value="0" oninput="rangeValue.innerText = this.value">
          <span id="rangeValue">0</span>
        </div>
        <textarea placeholder="What did you think of the movie?" name="review" class="movie-review-field"></textarea>
        <button type="button" class="review-submit-btn">Submit</button>
        <div class="success-popup">
          <span>Your review has been submitted.</span>
        </div>
      </form>  
    </div>

    <div class="review-collection">
      <span>User Reviews</span>
      <ul class="review-list"> 
    
      </ul>
    </div>
  </div> 
  

  <script type="text/javascript" src="/main.js"></script>
</body>
</html>


  