<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie Night</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h1 class="site-name">Movie<span>Night</span></h1>
    <div class="form-section">
      <form action="" method="">
        <p>What did you watch today?</p>
        <input type="text" name="movie" class="movie-search" placeholder="Enter the movie name...">
        <button type="button" class="search-btn">Search</button>
      </form>
    </div>  

    <div class="movie-info">
      <div class="movie-poster"><img src="/netflix-poster.jpg" alt="" class="poster"></div>
      <h2 class="title"></h2>
      <h5 class="genre"></h5>
      <h5 class="actors"></h5>
      <p class="plot hide-content"></p>
    </div>

    <div class="review-section">
      <form action="/addReview" method="POST" class="review-form">
        <!-- <input name="movieId" id="movie-id" type="text"> -->
        <span class="movie-id"></span>
        <div class="slider">
          <p>Rate your experience.</p>
          <input type="range" id="score" name="score" min="0" max="10" step="0.1" value="0" oninput="rangeValue.innerText = this.value">
          <span id="rangeValue">0</span>
        </div>
        <textarea placeholder="What did you think of the movie?" name="review" class="movie-review"></textarea>
        <button type="button" class="review-submit-btn">Submit</button>
        <div class="success-popup">
          <span>Your review has been submitted.</span>
        </div>
      </form>  
    </div>

    <div class="review-collection">
      <span>User Reviews</span>
      <ul class="review-list">
        <% for(var i=0; i<reviews.length; i++){ %>
          <li class="review">
            <p class="review-statement"><%= reviews[i].review %></p>
            <span class="score"><%= reviews[i].score %></span>
            <span><%= reviews[i].likes %></span>
            <span class="fa fa-thumbs-up"></span>
            <span class="fa fa-trash"></span>
          </li>
        <% } %>  

      </ul>
    </div>
  </div> 
  

  <script type="text/javascript" src="/main.js"></script>
</body>
</html>


  