*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
html{
  font-size: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: gainsboro;
  padding-bottom: 40px;
  height: 100%;
}
body{
  height: 100%;
}
a{
  text-decoration: none;
  color: gainsboro;
}
.container{
  padding-bottom: 30px;
  background-color:#4d4847;
  /* min-height: 100vh; */
  max-width: 100vw;
}
.is-blurred{
  filter: blur(4px);
  opacity: 0.9;
}
.site-name{
  font-size: 1.5rem;
  position: absolute;
  left: 1.5rem;
  top: 1rem;
}
.site-name span{
  color:#919093;
}
#current-user{
  color: #d4aa11;
  font-weight: 700;
  font-size: 18px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#current-user:hover{
  color: antiquewhite;
  text-shadow: 0 0 10px #fff,
                 0 0 20px #fff,
                 0 0 40px #fff;
}
nav{
  width: 30%;
  position: absolute;
  right: 1.5rem;
  top: 1.3rem;
  display: flex;
  justify-content: space-between;
}

/* .close-login{
  color: #aaaaaa;
  float: right;
  font-size: 30px;
  cursor: pointer;
  margin-top: -25px;
} */
.search-section{
  margin-top: 5rem;
  display: inline-block;
  width: 50vw;
}
.movie-search{
  margin: 10px;
  padding: 5px;
  width: 200px;
  border-radius: 6px;
  border: none;
  text-align: left;
}
.search-btn{
  padding: 6px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  outline: #97ace6 2px solid;
  transition: outline 0.1s ease-out, transform 0.2s ease-in;
}
.search-btn:hover{
  background-color: #97ace6;
  transform: scale(1.1);
  outline: none;
}
.movie-info{
  /* outline: 2px solid black; */
  box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.5);
  padding: 15px 5px;
  width: 60%;
  margin: 2rem auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.movie-info:hover{
  box-shadow: none;
  outline: 1px solid #000;
}
.fa-bookmark{
  font-size: 30px;
  /* display: none; */
  position: absolute;
  top: 8%;
  left: 5%;
  transform: translateY(-50%);
  opacity: 0.5;
  cursor: pointer;
}
.fa-bookmark:hover{
  opacity: 1;
}
.bookmarked{
  color: #d4aa11;
  opacity: 1;
}
.movie-poster{
  height: 30%;
  width: 40vw;
  overflow: hidden;
  background-position: center;
}
.poster{
  margin: auto;
  height: 300px;
  width: 90%;
  /* object-fit: cover; */
  background-position: center;
  background-size: cover;
}
.title{
  letter-spacing: 0.5px;
}
.genre{
  color: #d4aa11;
}
.actors{
  opacity: 0.7;
}
.hide-content{
  display: none;
}
.plot{
  margin-top: 10px;
  width: 70%;
  text-align: justify;
  position: relative;
}
.plot::before, .plot::after{
  content: '"';
  color: #919093;
  font-size: 2rem;
  font-weight: bolder;
  display: inline-block;
  height: 1rem;
  position: absolute;
}
.plot::before{
  top: -0.5rem;
  left: -0.8rem;
}
.plot::after{
  bottom: 0;
  right: 0;
  display: none;
}
.review-section{
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
}
#movie-id{
  display: none;
} 
.slider{
  margin: 2rem auto 0.5rem auto;
  width: 25%;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0px 15px 40px #b4a89a66;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.slider p{
  display: block;
  /* position: relative; */
  top: 0;
  margin: 5px auto;
  display: none;
}
.slider span{
  width: 10%;
}
.slider input[type="range"]{
  width: 70%;
  height: 3px;
  background: #f8f8f8;
  border: none;
  outline: none;
  cursor: pointer;
  accent-color: #d7c3c3;
}
.movie-review{
  width: 40%;
  height: 16vh;
  padding: 1em;
  display: block;
  margin: 0.5rem auto;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 1rem;
  text-align: left;
  resize: none;
}
.review-submit-btn{
  width: 7rem;
  padding: 6px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  margin: 0 auto 3rem auto;
  transition: background-color 0.3s ease;
}
.review-submit-btn:hover{
  background-color: #d4aa11;
}
.success-popup{
  background-color: rgba(75, 181, 67, 1);
  color: #f8f8f8;
  width: 200px;
  padding: 15px 5px;
  border-radius: 10px;
  position: fixed;
  top: 40vh;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  visibility: hidden;
  transition: transform 0.4s;  /* applying transition on visibility shows the popup on page load as hiding it takes some time */
}
.show-popup{
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}
.load-reviews{
  padding: 10px;
  text-decoration: none;
  background-color: #d4aa11;
  cursor: pointer;
  border-radius: 10px;
}
.review-collection{
  margin: 30px;
  margin-bottom: 50px;
}
.review-collection>span{
  font-size: 1.5rem;
  font-weight: 600;
  display: block;
  /* margin-bottom: 30px; */
}
.review-list{
  margin: 1rem auto 5rem auto;
  outline: 1px solid #171717;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  /* max-height: 350px; */
  overflow-y: scroll;
  /* position: relative; */
}
.review{
  text-align: left;
  padding: 0.5rem;
  border-bottom: 1px solid #171717;
  width: 100%;
  color: #f8f8f8;
  transition: background-color 200ms ease;
}
.hidden{
  display: none;
}
.review p{
  display: inline;
}
.review:hover{
  background-color: #444242;
}
.review .score{
  background-color: #d0cfca;
  color: #444242;
  margin: 6px;
  padding: 1.5px;
}
.fa{
  margin: 0 2px;
  cursor: pointer;
}
.fa-thumbs-up{
  color: rgb(72, 119, 250);
}
.fa-trash{
  color: rgb(166, 52, 52);
}



/* My Collection */
.collection-container{
  width: 90%;
  margin: 0 auto;
}
.parallax{
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parallax.header-content{
  background-image: url('./images/film2.jpg');
  border: 1px solid black;
  min-height: 180px;
  opacity: 0.8;
}
.par-text{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.par-text span{
  color: #fff;
  background-color: #111;
  padding: 10px;
}
.main{
  position: relative;
  height: 100%;
}
.parallax.main-content{
  background-image: url('./images/film1.jpg');
  height: 100vh;
  /* position: fixed; */
  z-index: -100;
  opacity: 0.4;
}

/* .parallax:nth-child(2){
  background-image: url(./img/film2.jpg);
  min-height: 400px;
}
.parallax:nth-child(3){
  background-image: url(./img/film1.jpg);
  min-height: 400px;
} */
.movie-list{
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 50%;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.listed-movie{
  display: flex;
  gap: 0.8rem;
  padding: 15px;
  background-color: rgba(85, 85, 82, 0.94);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  /* border-radius: 10px; */
  width: 100%;
  margin: 20px auto;
}
.listed-movie img{
  height: 150px;
  background-size: contain;
  background-position: center;
  /* border-radius: 15px; */
  width: 40%;
}
.listed-movie-content{
  display: flex;
  flex-direction: column;
  width: 70%;
  color: aliceblue;
}
.listed-movie-content .genre{
  color: #171717;
  width: fit-content;
  margin: 0 auto;
  padding: 0 2px;
  background-color: rgba(212, 170, 17, 0.7);
  line-height: 0.9;
}
.listed-movie-content p{
  margin-top: 0.6rem;
  text-align: left;
}
.parallax.footer-content{
  background-image: url('./images/film2.jpg');
  height: 140px;
  background-position: top;
}



/* Sign up and Log in */
/* .form-container.login-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* z-index: 100;
  padding-top: 30px; */
  /* display: none; 
} */
.signup-container, .login-container{
  padding-top: 80px;
  width: 100vw;
  height: 100vh;
  background-color: #4d4847;
}
.form-container{
  width: 45%;
  margin: auto;
  border-radius: 15px;
  box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.1), 15px 15px 15px rgba(0, 0, 0, 0.3);
  padding: 40px 10px;
  background-color: #4d4847;
}
.form-container h2{
  letter-spacing: 1.5px;
  margin-bottom: 20px;
  font-size: 30px;
  color: #d4aa11;
}
.input-form{
  width: 60%;
  margin: 5px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;  
}
.input-form input{
  text-align: left;
  padding: 10px;
  border: none;
  background-size: 18px;
  background-position: 8px;
  background-repeat: no-repeat;
  padding-left: 35px;
  border-radius: 8px;
  color: #4d4847;
}
input:focus{
  outline: #97ace6 2px solid;
}
input.username{
  background-image: url('./icons/user-solid.svg');
}
input.email{
  background-image: url('./icons/envelope-solid.svg');
}
input.password{
  background-image: url('./icons/lock-solid.svg');
}
.submit-btn{
  font-size: 16px;
  width: 40%;
  padding: 8px 0;
  margin: 10px auto;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  background-color: rgba(212, 170, 17, 0.7);
  color: #ebe3e3;
}
.submit-btn:hover{
  outline: #97ace6 3px solid;
  background-color: #d4aa11;
}
.signup-link, .login-link{
  color: #d4aa11;
}
.error-msg{
  color: red;
}